<div class="container mt-4 pt4">
  <div class="row">
    <div class="col d-flex">
      <%= image_tag 'top2.jpg', class: "about_img", size: '600x500' %>
      <div class="ml-5 mt-5">
        <div>
          <h3 class="about_title text-center"><div class="about_sec mb-3">About</div>
          <div class="ftext-bold">Fashion</div>
          <div class="ftext-bold">Advise</div> 
          <div class="ftext-bold">Site</div></h3>
        </div>
        <hr/>

        <div class="mt-5 about_sentence">
         <p>
          洋服選びに困っているが、直接店舗に行けない、<br>行きづらい。<br>
          服を買いに行く服がない。</p>
          <p>
          そんな時ネットで玄人に聞くサイト。
          </p>
        </div>

      </div>
    </div>

    </div>
  </div>
</div>
