<ul>
<% if user_signed_in? %>
  ログインしているトップ
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'btn btn-default' %></li>
<% else %>
  ログインしてないトップ
  <li><%= link_to "ログイン", new_user_session_path,class: 'btn btn-default' %></li>
<% end %>
</ul>

<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">