<ul>
<% if user_signed_in? %>
  ログインしているトップ
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'btn btn-default' %></li>
<% else %>
  ログインしてないトップ
  <li><%= link_to "ログイン", new_user_session_path,class: 'btn btn-default' %></li>
<% end %>
</ul>