/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 /* 以下追加css */
/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:wght@300&display=swap');

@font-face
{
	font-family: 'Lucida';
	src: url('fonts/lucida_bright_regular.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Lucida';
	src: url('fonts/lucida_bright_demi.ttf')  format('truetype');
	font-weight: 700;
}
@font-face
{
	font-family: 'Beyond';
	src: url('fonts/beyond_the_mountains.otf')  format('opentype'),
		 url('fonts/beyond_the_mountains.ttf')  format('truetype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #2f2f2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
/*
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
*/
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
	

section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 600;
	color: #937c6f;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.section_title
{
	/*font-family: 'Lucida', serif;
	font-size: 60px;
	text-transform: uppercase;
	color: #2f2f2f;
  margin-top: -4px;*/
  
  background: #937c6f;
  display: inline-block;
  padding: 0 5px;
  font-family: 'Lucida', serif;
  color: white;
  font-size:50px;
}
.title_text{
  margin-left: 300px;
}
.button
{
	width: 142px;
	height: 46px;
	background: #937c6f;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.2em;
	line-height: 46px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	background: #e0e3e4;
}
.button:hover a
{
	color: #232323;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: #FFFFFF;
	z-index: 100;
	padding-left: 60px;
	padding-right: 64px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	height: 80px;
}
.header_inner
{
	width: 100%;
	height: 100%;
}

/*********************************
3.1 Header - Logo
*********************************/

.logo a
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #2f2f2f;
}

/*********************************
3.2 Header - Main Navigation
*********************************/

.main_nav
{
	padding-left: 252px;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}
.main_nav ul li
{
	display: inline-block;
	margin-right: 50px;
}
.main_nav ul li:last-child
{
	margin-right: 0;
}
.main_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a:hover
{
	color: #937c6f;
}

/*********************************
3.3 Header - Search
*********************************/

.search
{
	display: inline-block;
	width: 400px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.search_input
{
	height: 43px;
	background: #f9f5f5;
	border: gray;
	outline: none;
	padding-left: 20px;
}
.search_button
{
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	width: 19px;
	height: 19px;
	background: transparent;
	border: none;
	outline: none;
}
.search_button:focus
{
	outline: none !important;
}
.search_button img
{
	max-width: 100%;
}

/*********************************
3.4 Header - Shopping
*********************************/

.shopping
{
	display: inline-block;
	margin-left: 111px;
	padding-right: 161px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.shopping a
{
	display: inline-block;
	margin-right: 10px;
}
.shopping a:last-child
{
	margin-right: 0;
}
.cart_num_container,
.star_num_container
{
	position: absolute;
	top: 13px;
	left: -5px;
	width: 15px;
	height: 15px;
	background: #937c6f;
	border-radius: 50%;
}
.cart_num_inner,
.star_num_inner
{
	width: 100%;
	height: 100%;
}
.cart_num,
.star_num
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 9px;
	font-weight: 600;
	color: #FFFFFF;
}
.star img
{
	width: 20px;
	height: 20px;
}
.avatar img
{
	width: 20px;
	height: 20px;
}

/*********************************
3.5 Header - Burger
*********************************/

.burger_container
{
	position: absolute;
	top: calc(50% + 4px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 22px;
	height: 16px;
	cursor: pointer;
}
.burger_container div
{
	width: 100%;
	height: 2px;
	background: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	pointer-events: none;
}
.burger_container:hover div
{
	background: #937c6f;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.home_container
{
	width: 100%;
	height: 397px;
}
.home_content
{
	position: absolute;
	left: 0;
	top: 62.4%;
}
.home_title
{
	font-family: 'Lucida', serif;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 0.75;
}
.breadcrumbs
{
	margin-top: 6px;
}
.breadcrumbs ul li
{
	display: inline-block;
	position: relative;
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #FFFFFF;
}
.breadcrumbs ul li a
{
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs ul li::after
{
	display: inline-block;
	content: '/';
	margin-left: 6px;
}
.breadcrumbs ul li:last-child::after
{
	display: none;
}
.breadcrumbs ul li a:hover
{
	color: #937c6f;
}

/*********************************
5. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}
.menu.active
{
	right: 0;
}
.menu_close_container
{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu .logo
{
	margin-bottom: 60px;
}
.menu_nav ul li
{
	margin-bottom: 11px;
}
.menu_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #937c6f;
}
.menu .search
{
	width: 100%;
	margin-bottom: 67px;
}

/*********************************
6. Products
*********************************/

.products
{
	padding-top: 94px;
	padding-bottom: 98px;
	background: #FFFFFF;
}
.current_page
{
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #232323;
}
.product_sorting
{
	width: 100%;
	margin-top: 42px;
}
.view
{
	float: left;
}
.view_box
{
	display: inline-block;
	width: 41px;
	height: 41px;
	text-align: center;
	cursor: pointer;
}
.box_view
{
	background: #937c6f;
}
.detail_view
{
	background: #232323;
	margin-left: -3px;
}
.view_box i
{
	color: #FFFFFF;
	line-height: 41px;
	font-size: 14px;
}
.sorting
{
	float: right;
}
.item_sorting
{
	display: inline-block;
}
.item_sorting > li
{
	display: inline-block;
	position: relative;
	width: 173px;
	height: 41px;
	line-height: 39px;
	cursor: pointer;
	border: solid 1px #b5b5b5;
	padding-left: 15px;
	padding-right: 17px;
	margin-right: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #232323;
	margin-bottom: 10px;
}
.item_sorting > li:last-child
{
	margin-right: 0;
}
.num_sorting_text
{
	padding-right: 11px;
}
.item_sorting li i
{
	float: right;
	line-height: 39px;
	font-size: 16px;
	color: #232323;
}
.item_sorting li ul
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.item_sorting li ul li
{
	display: block;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.item_sorting li ul li span
{
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #dddddd;
	color: #131a2f;
	text-align: right;
	padding-right: 22px;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting li ul li span:hover
{
	color: #b5aec4;
}
.item_sorting li ul li:last-child span
{
	border-bottom: none;
}
.item_sorting li span:nth-child(2)
{
	margin-left: 63px;
}
.products_container
{
	margin-top: 98px;
}
.product_grid
{
	width: calc(100% + 30px);
	margin-left: -15px;
}
.product
{
	width: calc(100% / 3);
	/*margin-right: 30px;*/
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
.product:nth-child(3n)
{
	margin-right: 0px;
}
.product_image
{
	width: 100%;
}
.product_image img
{
	max-width: 100%;
}
.rating
{
	margin-top: 24px;
}
.rating i
{
	font-size: 10px;
	margin-right: 1px;
	color: #e0e3e4;
}
.rating i:last-child
{
	margin-right: 0px;
}
.rating_1 i:first-child{color: #f5c06f;}
.rating_2 i:first-child{color: #f5c06f;}
.rating_2 i:nth-child(2){color: #f5c06f;}
.rating_3 i:first-child{color: #f5c06f;}
.rating_3 i:nth-child(2){color: #f5c06f;}
.rating_3 i:nth-child(3){color: #f5c06f;}
.rating_4 i:first-child{color: #f5c06f;}
.rating_4 i:nth-child(2){color: #f5c06f;}
.rating_4 i:nth-child(3){color: #f5c06f;}
.rating_4 i:nth-child(4){color: #f5c06f;}
.rating_5 i:first-child{color: #f5c06f;}
.rating_5 i:nth-child(2){color: #f5c06f;}
.rating_5 i:nth-child(3){color: #f5c06f;}
.rating_5 i:nth-child(4){color: #f5c06f;}
.rating_5 i:nth-child(5){color: #f5c06f;}
.product_content
{
	margin-top: 7px;
}
.product_info
{
	float: left;
}
.product_name a
{
	font-size: 16px;
	font-weight: 600;
	color: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_name a:hover
{
	color: #937c6f;
}
.product_price
{
	font-size: 24px;
	font-weight: 600;
	color: #8a8a8a;
	margin-top: 0px;
}
.product_options
{
	float: right;
	transform: translateY(11px);
}
.product_option
{
	width: 37px;
	height: 37px;
	cursor: pointer;
}
.product_buy
{
	display: inline-block;
	background: #937c6f;
	vertical-align: middle;
	margin-right: 4px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_buy img
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 23px;
	height: 23px;
}
.product_buy:hover
{
	background: #2f2f2f;
}
.product_fav
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 600;
	color: #232323;
	background: #e0e3e4;
	line-height: 37px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_fav:hover
{
	color: #FFFFFF;
	background: #232323;
}
.page_nums
{
	margin-top: 41px;
}
.page_nums li
{
	display: inline-block;
	margin-right: 7px;
}
.page_nums li:last-child
{
	margin-right: 0;
}
.page_nums li a
{
	font-size: 14px;
	font-weight: 600;
	color: #232323;
}
.page_nums li:hover a
{
	color: #937c6f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.page_nums li.active
{
	border-bottom: solid 3px #937c6f;
}
.page_nums li.active a
{
	color: #937c6f;
}

/*********************************
7. Sidebar Left
*********************************/

.sidebar_left
{
	position: absolute;
	top: 215px;
	left: -310px;
	width: 286px;
	padding-bottom: 98px;
}
.sidebar_section
{
	width: 100%;
	border: solid 1px #e0e3e4;
	margin-bottom: 44px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_section:last-child
{
	margin-bottom: 0;
}
.sidebar_title
{
	height: 52px;
	background: #e0e3e4;
	line-height: 52px;
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #232323;
	padding-left: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_section:hover
{
	border: solid 1px #937c6f;
}
.sidebar_section:hover .sidebar_title
{
	background: #937c6f;
	color: #FFFFFF;
}
.sidebar_section:hover .sidebar_section_content ul li
{
	border-bottom: solid 1px #937c6f;
}
.sidebar_section_content
{
	width: 100%;
}
.sidebar_section_content ul li
{
	height: 47px;
	padding-left: 16px;
	border-bottom: solid 1px #e0e3e4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_section_content ul li:last-child
{
	border-bottom: none !important;
}
.sidebar_section_content ul li a
{
	font-size: 14px;
	color: #232323;
	line-height: 47px;
}
.sidebar_color_content
{
	width: 100%;
	height: 187px;
}
.sidebar_section_content ul li a span
{
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 15px;
}
/*Sidebar section scrollbar styling */
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical
{
	right: 0px;
	margin: 0;
}
.mCSB_scrollTools
{
	width: 4px;
    background: #e0e3e4;
}
.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger
{
	background: #937c6f;
}
.mCSB_scrollTools .mCSB_dragger
{
	width: 3px;
	right: 0;
}
/* --- */
.filter_price
{
	width: 100%;
	padding-left: 16px;
	padding-right: 36px;
	padding-bottom: 25px;
	padding-top: 43px;
}
.slider_range
{
	width: 100%;
}
.filter_price p
{
	display: inline-block;
	margin-top: 16px;
	margin-bottom: 0px;
}
.filter_price p input
{
	font-size: 14px;
	color: #232323;
	font-weight: 400 !important;
}
.clear_price_btn
{
	width: 117px;
	height: 37px;
	background: #937c6f;
	line-height: 37px;
	margin-top: 16px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.clear_price_btn:hover
{
	background: #e0e3e4;
	color: #232323;
}
.bestsellers_content
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 33px;
	padding-bottom: 33px;
}
.bestsellers_content ul li
{
	position: relative;
	height: 74px;
	border: none !important;
	margin-bottom: 29px;
	padding-left: 0;
	padding-right: 0;
}
.bestsellers_content ul li:last-child
{
	margin-bottom: 0;
}
.bestsellers_content:hover ul li
{
	border: none !important;
}
.best_image
{
	width: 74px;
	height: 74px;
	float: left;
}
.best_content
{
	padding-left: 93px;
	padding-top: 8px;
}
.best_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #232323;
	line-height: 1.5 !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.best_title a:hover
{
	color: #937c6f;
}
.best_price
{
	font-size: 16px;
	font-weight: 600;
	color: #937c6f;
	margin-top: 9px;
}
.best_buy
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 23px;
	height: 23px;
	background: #937c6f;
	border: solid 1px #dfd8d5;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}
.sidebar_option
{
	height: 119px;
	width: 100%;
	padding-left: 30px;
	border-bottom: solid 1px #e0e3e4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_option:last-child
{
	border: none !important;
}
.sidebar_options:hover .sidebar_option
{
	border-bottom: solid 1px #937c6f;
}
.option_image
{
	width: 54px;
	height: 54px;
}
.option_image img
{
	max-width: 100%;
}
.option_content
{
	margin-left: 19px;
}
.option_title
{
	font-size: 18px;
	font-weight: 600;
	color: #232323;
}
.option_subtitle
{
	font-size: 14px;
	color: #8a8a8a;
}

/*********************************
8. Sidebar Right
*********************************/

.sidebar_right
{
	position: absolute;
	top: 308px;
	right: 38px;
	width: 285px;
}
.sidebar_promo_1
{
	width: 100%;
	height: 477px;
}
.sidebar_promo_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sidebar_promo_content
{
	width: 224px;
	background: rgba(35,35,35, 0.95);
	border: solid 2px #937c6f;
	padding-bottom: 53px;
	padding-top: 50px;
}
.sidebar_promo_title
{
	font-family: 'Beyond', sans-serif;
	font-size: 43px;
	color: #FFFFFF;
	line-height: 0.75;
}
.sidebar_promo_title span
{
	font-size: 11px;
}
.sidebar_promo_subtitle
{
	font-family: 'Lucida', serif;
	font-size: 18px;
	color: #937c6f;
	margin-top: 21px;
}
.sidebar_promo_button
{
	width: 85px;
	height: 28px;
	background: #937c6f;
	margin: 0 auto;
	margin-top: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_promo_button a
{
	display: block;
	font-size: 8px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_promo_button:hover
{
	background: #e0e3e4;
}
.sidebar_promo_button:hover a
{
	color: #232323;
}
.sidebar_promo_2
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 1228px;
	padding-bottom: 32px;
	margin-top: 29px;
}

/*********************************
9. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	padding-left: 62px;
	padding-right: 62px;
}
.newsletter_content
{
	width: 100%;
	padding-top: 88px;
	padding-bottom: 94px;
}
.newsletter_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.newsletter .section_subtitle,
.newsletter .section_title
{
	color: #FFFFFF;
}
.newsletter_container
{
	margin-top: 75px;
}
.newsletter_input
{
	width: 100%;
	height: 46px;
	background: #FFFFFF;
	padding-left: 25px;
	border: none;
	outline: none;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 142px;
	height: 46px;
	background: #937c6f;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button:hover
{
	background: #e0e3e4;
	color: #232323;
}
.newsletter_text
{
	font-size: 14px;
	font-style: italic;
	color: #FFFFFF;
	margin-top: 19px;
}

/*********************************
10. Footer
*********************************/

/*.footer
{
	padding-top: 80px;
}
.footer_logo a
{
	font-family: 'Lucida', serif;
	font-size: 60px;
	color: #232323;
}
.footer_nav
{
	margin-top: 14px;
}
.footer_nav ul li
{
	display: inline-block;
	margin-right: 53px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #232323;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #937c6f;
}
.footer_social
{
	margin-top: 51px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 36px;
}
.footer_social ul li:last-child
{
	margin-right: 0;
}
.footer_social ul li a i
{
	font-size: 24px;
	color: #937c6f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #e0e3e4;
}
.copyright
{
	margin-top: 56px;
	padding-bottom: 13px;
	font-family: 'Lucida', serif;
	font-size: 12px;
	color: #232323;
}
 /* */

 .container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
  text-align:center;
}
 .container-forgot_password {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

#notice {
  @extend .alert-info;
  display: inline-block;
  margin-top: 10px;
}

#alert {
  @extend .alert-danger;
  display: inline-block;
  margin-top: 10px;
}


.form-signin_up {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: auto;
}
.error_ul{
  padding-left: 0;
}
.alert_box{
  padding: 2px;
}
.alert-dismissible .close {
  padding: 0;
  position: relative;
}
.google_button{
  width:15%;
  height:3%;
}

.submit_button{
  margin-top:30px
}
 .favorite-list{
   list-style: none;
 }
 .jumbotron{
  background-color: white;
  background-image: image-url("top5.jpg");
  background-position: center center;
  background-repeat: unset;
  background-size: cover;
  border-radius: 0;
  background-attachment: fixed;
  margin-bottom: 0rem;
}
.bg-color{
	background:rgba(255,255,255,0.5);
}
/*.bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.5);
}*/
.text_overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ページネーション関係 */
.pagination {
  justify-content: center;
}
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  border-radius: 50%;
  margin:4px;
}
/* 表示しているページ番号のデザイン */
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #937c6f;
  border-color: #007bff;
}
/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 50%; /*角を丸くする*/
}
.page-item:last-child .page-link {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.page-
.pagination{
	margin:0px;
}
/* ページネーション関係終了 */

/* 以下追加css */

.logo
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #2f2f2f;
}

.main_nav
{
	padding-left: 252px;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}
.main_nav ul li
{
	display: inline-block;
	margin-right: 50px;
}
.main_nav ul li:last-child
{
	margin-right: 0;
}
.main_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a:hover
{
	color: #937c6f;
}
.account{
  margin-right:20px;
}
.lead {
  background: #937c6f;
  display: inline-block;
  padding: 0 3px;
  font-family: 'Lucida', serif;
  color: white;
  font-size:30px;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto!important;

  /*background: #16222A;*/
  /*background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);*/

  color: white;
  /*border-top: 1px solid #230505;*/
}
/*
.sticky{
  /*padding-top: 60px;
}*/
.navpad{
  padding-top:65px;
}
.navbar{
  padding: 0rem 1rem;
}
/*.alert_notice{
  display: inline-block;
  z-index: 2000;
}*/
.footer_hr{
  color:white;
}

footer a {
  /* color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
  */

  font-size: 12px;
	text-transform: uppercase;
	color: #232323;
	/* font-weight: 600; */
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
  transition: all 200ms ease;  
}

footer a:hover {
  color: #937c6f;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  /*padding: 10px;*/
  /*border-top: 1px solid black;*/
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
.footer_border {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #8a8a8a;
}

#top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.top_arrow{
  color:gray;
}
.search_box{
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  color: #2c2c2c;
  height: auto;
  line-height: normal;
  font-size: .8571em;
  transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
  box-shadow: none;
}

.edit_drop{
  background-color: #937c6f;
  border-color: #937c6f;
}

.account_border{
  border-bottom: solid 1px;
  color:#937c6f;
}
.account_text{
  color: black;
  padding: 3px;
  margin: 3px;
  font-family: 'Lucida', serif;
}
.account_titile{
  background-color: #937c6f;
  color: white;
  padding: 3px;
  margin: 3px;
}

.account_data{
  color:#937c6f;
}

.fa-tags{
  color: gray;
}

.fa-comment-alt{
  color: gray;
  margin-right: 1px;
}

.full_title{
  display: inline;
  position: relative;
  color: white;
  border-bottom: solid 1px #ffa07f;
  transition: all 200ms ease;
}

.comment_quote{
  width: 100%;
  height: 43px;
  background: #f9f5f5;
  border-left: solid 2px #937c6f;
  outline: none;
  padding-left: 20px;
}
.profile_name{
	text-align: center;
	display: inline-block;
}
.posts_card{
	padding-bottom: 5px;
}
.post_title{
	color:#1f14148a;
	font-size: 16px;
}
.post_index_body{
	color:gray;
	margin-top:2px;
}
.post_index_tag{
	margin: 1rem 0;
}
.post_index_time{
	font-size: 3px;
	text-align: right;
}
.card_comment_icon{
	font-size:12px;
}
.post_data{
	border-top: 1px solid #ddd;
	padding-top: 3px;
}
.badge-primary {
	color: #fff;
	background-color: #49505752;
}
.post_index_image{
	position: relative;
}
.ended{
	/*width: 50px;
	height: 50px;*/
	color: #ffffff;
	background: rgba(35, 35, 35, 0.63);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Lucida', serif;
	padding: 2px;
}
.post_ended_tag{
	background-color: #ffa07f;
	color: white;
	display: inline-flex;
	padding:2px;
}

.contact_page
{
	font-family: 'Lucida', serif;
}
.contact_name{
	display: inline-block;
}
.contact_email
{
  display: inline-block;
}
/*.contact_row{
	text-align: center;
}*/
.post_show_time{
	font-size:12px;
	color:gray;
	justify-content: center;
  align-items: center;
  display: flex;
}
.show_card{
	border:none;
}
.border-wide{
	border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.post_show_body{
	font-size: 16px;
}
.font_bk{
	color:black;
}
.font_size5{
 font-size: 5px;
}
.review_form_button {
	width: 179px;
	height: 46px;
	border: none;
	outline: none;
	background: #937c6f;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.review_form_button:hover
{
	background: #e0e3e4;
	color: #232323;
}
.review_back_button {
	width: 80px;
	height: 46px;
	border: none;
	outline: none;
	background: #6f6a67;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.review_back_button:hover
{
	background: #e0e3e4;
	color: #232323;
}
.about_img{
	position: relative;
  z-index: 1;
}
.about_img::before{
	content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 3px solid #ccc;
}
.about_title{
	font-family: 'Cormorant Garamond', serif;
	font-size: 45px;
}

.about_sec{
	background: rgba(35,35,35, 0.95);
	display: inline-block;
	color:white;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding: 0 10px;
	
}
/*
.about_sec::first-letter {
	color:#6f6a67;

}*/
.ftext-bold::first-letter {
	font-weight:bold;
}
.about_sentence{
	letter-spacing: 0.25rem;
}
.terms_sentence{
	margin: 20px 0;
	padding: 20px;
}
.terms_in_sentence{
	margin: 0;
  padding: 0 20px;
	border: none;
}
.terms_in_sentence h1{
	border-bottom: 1px solid #e0e3e4;
	margin: 0 0 30px 0;
	font-size: 2em;
	line-height: 140%;
	padding-bottom: 10px;
}
.terms_in_sentence h2{
	font-size: 1.5em;
  line-height: 140%;
	color: #202231;
	margin: 30px 0 20px 0;
}
.terms_in_sentence p{
	margin: 20px 0;
  font-size: 1em;
	line-height: 1.6;
	color:black;
}
.terms_in_sentence ol{
	margin: 20px 0 0 40px;
}
.terms_in_sentence ol li{
	list-style: outside decimal;
	font-size: 1em;
	line-height: 140%;
	margin: 10px 0 0 0;
}
.terms_in_sentence ol li ol{
	margin-bottom: 20px;
}
.terms_in_sentence ol li ol li{
	list-style: outside decimal;
	font-size: 1em;
	line-height: 140%;
	margin: 10px 0 0 0;
}
.mw960{
	max-width: 960px;
}
.form_button {
	border: none;
	outline: none;
	background: #937c6f;
	color: #FFFFFF;
	font-size: 17px;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	padding: 10px 40px;
	display:inline-block;
}
.form_button:hover
{
	background: #e0e3e4;
	color: #232323;
	border-bottom:none;
	display:inline-block;
}
.form_button a:hover{
	text-decoration: none;
}

#form2{
	position:relative;
	max-width:300px;	
	margin-bottom:20px;
	}
	#sbox2{
	height:50px;
	padding:0 10px; 
	position:absolute; 
	left:0;
	top:0; 
	border-radius:2px;
	outline:0;
	background:#eee;	
	}
	#sbtn2{
	/*height:25px;*/
	position:absolute;
	left:180px;/*アイコン左右の位置調整*/
	top:0;
	/*background:none;*/
	color:#666;
	font-size:24px;
	padding: 0 4px;
	background-color: white;
	border: solid 0.1px #ced4da;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-left: none;
	z-index: 10;
	}
	#sbtn2:hover{
	color:#937c6f;
	}
	.s_check_box{
		display: contents;
	}
	.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-radius: 0.25rem;
	}