/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

body{
  margin-top: 65px;
}
.form-signin_up {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
 .favorite-list{
   list-style: none;
 }
 .jumbotron{
  background-color: white;
  background-image: image-url("top5.jpg");
  background-position: center;
  background-repeat: unset;
  background-size: cover;
}
.bg-color{
	background:rgba(255,255,255,0.5);
}
.bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.5);
}
.text_overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ページネーション関係 */
.pagination {
  justify-content: center;
}
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  border-radius: 50%;
}
/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 50%;     /*角を丸くする*/
}
/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 50%; /*角を丸くする*/
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.pagination{
	margin:0px;
}
/* ページネーション関係終了 */