<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">


  <div class="row">
		<div class="col-md-12 footer_border">
			<!--<p class="text-center">&copy; Copyright 2020 - FAS.inc</p>-->
		</div>
	</div>

    <div class="row">
      <div class="col-md-4 text-center">
        <!--Column1-->
        <div class="footer-pad">
          <!--<h4>Heading 2</h4>-->
          <ul class="list-unstyled">
            <li><%= link_to "利用規約", home_terms_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <!--Column1-->
        <div class="footer-pad">
          <!--<h4>Heading 3</h4>-->
          <ul class="list-unstyled">
            <li><%= link_to "プライバシーポリシー", home_privacy_path %></li>
          </ul>
        </div>
      </div>
    	<div class="col-md-4 text-center">
    		<!--<h4>Follow Us</h4>-->
            <ul class="social-network social-circle">
             <li><a href="https://ja-jp.facebook.com/" class="icoFacebook" title="Facebook" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" ></i></a></li>
             <li><a href="https://www.instagram.com/" class="icoLinkedin" title="Instagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - FAS.inc</p>
		</div>
	</div>


  </div>
  </div>
</footer>