<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">


  <div class="row">
		<div class="col-md-12 footer_border">
			<!--<p class="text-center">&copy; Copyright 2020 - FAS.inc</p>-->
		</div>
	</div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <!--<h4>Heading 1</h4>-->
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">about</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <!--<h4>Heading 2</h4>-->
          <ul class="list-unstyled">
            <li><a href="#">利用規約</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <!--<h4>Heading 3</h4>-->
          <ul class="list-unstyled">
            <li><a href="#">プライバシーポリシー</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3">
    		<!--<h4>Follow Us</h4>-->
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - FAS.inc</p>
		</div>
	</div>


  </div>
  </div>
</footer>