<p><%= @resource.email %> 様</p>

<p>日頃よりFASをご利用いただき、誠にありがとうございます。<br>
パスワードリセットの申請を受け付けました。<br>
パスワードの再設定をご希望の場合は、以下「パスワードの再設定リンク」をクリックし<br>
新しいパスワードをご登録ください。</p>

<p>※パスワードリセットの申請に心当たりがない場合は、<br>
以降の対応は不要となります。</p>

<p><%= link_to 'パスワードの再設定リンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールに心当たりが無い場合は、お手数ですが破棄をお願いいたします。<br>
なお、当メールアドレスは送信専用のため、直接の返信はいたしかねます。</p>

<p>FAS運営</p>
<p>
--------------------------------------------------------<br>
サイトURL：https://fas-site.work/<br>
お問い合わせ：https://fas-site.work/inquiry_mailer/new<br>
--------------------------------------------------------<br>
</p>
